.App {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container {
  max-width: 40rem;
  padding: 30px 20px;
  margin-bottom: 20px;
}

.App h1 {
  font-size: 3rem;
}
